@font-face {
  font-family: 'Graphik';
  src: url('../fonts/GraphikRegular.otf');
}

@font-face {
  font-family: 'Graphik-Bold';
  src: url('../fonts/GraphikBold.otf');
}

@font-face {
  font-family: 'Graphik-Medium-500';
  src: url('../fonts/Graphik-500-Medium.otf');
}

@font-face {
  font-family: 'Graphik-Reg-400';
  src: url('../fonts/Graphik-400-Regular.otf');
}

@font-face {
  font-family: 'Graphik-Light-300';
  src: url('../fonts/Graphik-300-Light.otf');
}

@font-face {
  font-family: 'Graphik-Light-200';
  src: url('../fonts/Graphik-200-Extralight.otf');
}

@font-face {
  font-family: 'Graphik-Light-100';
  src: url('../fonts/Graphik-100-Thin.otf');
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Graphik', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.line__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  grid-auto-rows: minmax(200px, auto);
  width: 80%;
  margin: auto;
  color: #fff;
}

.line__heading {
  font-size: 1.25rem;
  margin: 20px;
  text-align: center;
  font-family: 'Graphik-Medium-500';
}

.line__status_card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: #ad6464;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.line__name {
  font-size: 18px;
  margin: 0;
  font-family: 'Graphik-Bold';
}

.line__status_text {
  font-size: 16px;
  margin: 10px 0;
}

.line_status_description {
  font-size: 14px;
  margin: 5px 0;
  font-family: 'Graphik-Light-300';
  line-height: 1.1rem;
}

#map {
  height: 65vh;
  margin-bottom: 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}
@media (max-width: 768px) {
  #map {
    height: 55vh;
  }
}

@media (max-width: 480px) {
  #map {
    height: 45vh;
  }

  .content-container {
    padding: 10px;
  }
}

.leaflet-popup-content {
  font-size: 0.9rem;
  color: #333;
  font-family: 'Graphik';
}

.route__container {
  max-width: 80%;
  margin: auto;
  padding: 20px;
}

.route__heading {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;

}
